body {
  margin: 0; padding: 0;
}

form {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1em solid #000;
  background-color: #222;
}

textarea {
  flex-grow: 1;
  padding: 0.5em;
  margin-right: 1em;
  height: 8em;
  background-color: #2c2c2c;
  color: #eee;
  border: 0.05em solid #202020;
}

input {
  background-color: #993322;
  border: 0.05em solid black;
  padding: 1em;
  color: #fff;
  font-weight: 900;
  font-size: 1.2em;
  cursor: pointer;
}

.entry {
  border: 0.05em solid #eee;
  margin: 1em;
}

.entry header {
  border-bottom: 0.05em solid #eee;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
}

.entry .entry-id { color: #ccc; }
.entry .created-utc { color: #ccc; }
.entry .toggle-button {
  background-color: #eee;
  color: #999;
  display: flex;
  align-items: center; justify-content: center;
  padding: 0.3em;
  cursor: pointer;
}

.entry .contents {
  display: flex;
  flex-direction: row;
}

.entry .contents > pre {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #eee;
  flex-grow: 1;
}

.entry .contents aside {
  background-color: #f9f9f9;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7em;
  border-right: 0.05em solid #eee;
}

.entry .contents aside img {
  border: 0.1em solid #eee;
}

.entry .contents article {
  padding: 0.5em 1em;
  flex-grow: 1;
}

.entry .contents article code { background-color: #eee; color: #222; }
.entry .contents article pre { background-color: #eee; color: #222; padding: 0.5em; }
